*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #7f939e;
    
}

.game{
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
}
.gameHeading{
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items:center;
    flex-wrap: wrap;
    width: 30rem;
    height: 6rem;
    position: sticky;
    top: 1.5rem;
    
    
}
h1{
    color:cornsilk;
    font-size: 3rem;
    
}
.cM{
    color: cornsilk;
    font-size: 1.6rem;
    /* display: flex;
    justify-content: start; */
   
}

.chImages{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    
    
}

.userBoard{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.compBoard{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.userScore{
    color: cornsilk;
    font-size: 1.5rem;
}
.compScore{
    color: cornsilk;
    font-size: 1.5rem;
}

.image1{
    
    /* display: flex; */
    height: 15rem;
    width: 15rem;
    border-radius: 1rem;
    /* position: sticky; */
    
    
  
    
}

.image2{
    
    /* display: flex; */
    height: 15rem;
    width: 15rem;
    border-radius: 1rem;
    /* position: sticky; */

}



/* button style */
.Choices{
    display: flex;
    gap: 3rem;
    
}
.choice{
    height: 5.5rem;
    width: 5.5rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow:hidden;
    object-fit: cover;
    border-radius: 60%;
}
.images{
    height: 5.5rem;
    width: 5.5rem;
    
}

/* scoreboard */
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5rem;
    gap: 5rem;
    height: fit-content;
}


.playAgain{
    color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

/* handling screen sizes */
@media (max-width:550px){
    html, body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .container {
        position: fixed;
        width: 100vh; /* Swap width & height intentionally */
        height: 100vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg) ; /* Centers & rotates */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #7f939e;
    }
    .game{
        position: fixed;
        width: 100vh; /* Swap width & height intentionally */
        height: 100vw;
        transform: scale(0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}