*{
    margin: 0%;
    padding: 0%;
}
.sPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
img{
    max-width: 100%;
    height: auto;
}
.startG{
    padding: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
    
    
    background-color: #FEC601;
    filter: brightness(95%) contrast(120%);
    border-color: aliceblue;
    border-radius: 25px;

    /* Centering dynamically */
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);

}

@media (max-width:1155px){
    img {
        width: 100vw; /* Shrinks width */
        height: 100vh; /* Elongates height */
        object-fit: cover; /* Keeps entire image visible */
    }
}